<script src="https://dagammla.gitlab.io/fuwu.js/0.8.8/fuwu.min.js"></script>
<script>
const code = $params.get("code")
const body = $http.s.post("http://localhost:8080/auth", code)
const response = $json.parse(body)

if (response.error == null){
    $storage.set("access_token", response.access_token)
    $storage.set("refresh_token", response.refresh_token)
    window.location.href = "/";
} else {
    window.location.href = "/?error=" + response.error_description
}

</script>