@font-face {
    font-family: 'Russo One';
    src: url('RussoOne-Regular.ttf') format('truetype')
}

:root {
    --color-main:       hsl(var(--c-h) calc(var(--c-s) + 6%) calc(var(--c-l) + 21%)); /*hsl(283, 86%, 45%)*/
    --color-seco:       hsl(var(--c-h) var(--c-s) var(--c-l)); /*hsl(283, 80%, 24%))*/
    --color-check:      hsl(calc(var(--c-h) - 27) calc(var(--c-s) - 33%) calc(var(--c-l) + 1%)); /*hsl(256, 47%, 25%)*/
    --color-check-ok:   hsl(calc(var(--c-h) - 133) calc(var(--c-s) - 2%) 34%);/*hsl(150, 78%, 34%)*/
    --color-burger:     hsl(calc(var(--c-h) + 3) calc(var(--c-s) - 20%) calc(var(--c-l) - 4%)); /*hsl(286, 60%, 20%)*/
    
    --max-white-l: 65%;
    --c-t: calc( 10000 * (1% - min(1%, max(var(--max-white-l), var(--c-l)) - var(--max-white-l) ) ) ); /*calc(min(max(var(--max-white-l), var(--c-l)) - var(--max-white-l), 1) * 255)*/
    --color-text: rgb(var(--c-t) var(--c-t) var(--c-t));
}

body, html, #fixed-wrapper{
    background: var(--color-seco);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#fixed-wrapper {
    background: radial-gradient(var(--color-main), var(--color-seco));
    max-height: 100%;
}

f-pl{
    z-index: 1;
}

f-pl[data=data]{
    display: block;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
}

#content {
    color: var(--color-text);
    width: 100%;
    overflow-x: hidden;
    display: flex;
    font-family: "Russo One";
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 40px;
    user-select: none;
}

#content[centered=true]{
    justify-content: center;
    height: 100%;
}

h1{
    margin: 0;
    font-size: 60px;
    max-width: calc(100% - 10px);
    overflow-x: hidden;
    overflow-wrap: break-word;
    text-align: center;
}

.card-text {
    max-width: calc(100% - 10px);
    overflow-x: hidden;
    overflow-wrap: break-word;
    text-align: center;
}

ul{
    width: 90%;
    text-align: left;
    overflow-wrap: break-word;
}

.remove-player{
    cursor: pointer;
}

.remove-player:hover, .remove-player:active {
    transform: rotate(0.5deg) scale(0.9);
}

.player-modal{
    z-index: 30;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input {
    height: 60px;
    font-family: "Russo One";
    font-size: 40px;
    font-weight: 700;
    max-width: min(90vw, 450px);
}

button {
    background-color: #0f0f0f62;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: "Russo One";
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
    line-height: 50px;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: fit-content;
    max-width: 90%;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px 0;
}

button:hover, button:active {
    transform: rotate(-1.5deg) scale(0.9);
}

button::after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

button::after {
    bottom: 2px;
    left: 2px;
}

.checkbox{
    font-size: 0.9em;
    position: relative;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 3em;
}

.checkbox::before{
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 8px;
    background-color: rgba(15, 15, 15, 0.2);
    left: -1.25em;
    transition: all 0.2s ease-out;
    box-shadow: inset 0px 0px 0px 2px var(--color-check);
    transform: rotate(-5deg);
}

.checkbox[checked=true]::before{
    box-shadow: inset 0px 0px 0px 100px var(--color-check-ok);
}


#burger-backdrop{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    opacity: 0.2;
    transition: opacity 0.1s ease-out;
}

#burger-backdrop[open=false]{
    opacity: 0;
    pointer-events: none;
}

#burger-menu{
    user-select: none;
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 70%;
    max-height: 70%;
    overflow-y: auto;
    background-color: var(--color-burger);
    left: 0;
    bottom: 0;
    border-radius: 75px 75px 0px 0px;
    transition: height 0.1s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    font-family: "Russo One";
    color: var(--color-text);
    font-size: 40px;
}

#burger-menu[open=false]{
    height: 75px;
    cursor: pointer;
}

#burger-menu[open=false]::before{
    font-family: sans-serif;
    position: absolute;
    content: "_";
    font-size: 80px;
    color: rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
    top: -60px;
}

#burger-menu[open=false] > *{
    display: none;
}

#burger-menu p {
    max-width: calc(100% - 10px);
    overflow-wrap: break-word;
    text-align: center;
    font-family: "Russo One";
    color: var(--color-text);
    font-size: 40px;
    margin: 10px 0;
}

.divider{
    height: 2px;
    min-height: 2px;
    width: 100%;
    min-width: 100%;
    background: rgba(15, 15, 15, 0.2);
}

#back-video{
    display: none;
}

#hand-img{
    display: none;
}

@media screen and (min-width: 600px) {

    body, html {
        background-color: rgba(0, 0, 0, 0);
    }

    #back-video {
        display: block;
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    #fixed-wrapper{
        width: 500px;
        max-width: 500px;
        min-width: 500px;
        height: 888px;
        max-height: 888px;
        min-height: 888px;
        left: 0;
        right: 0;
        margin: auto;
        transform-origin: top center;
        transform: scale(var(--scale-size)) translateY(141px);
    }

    #hand-img{
        display: block;
        z-index: -1;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: fixed;
    }
}